.input {
  border-radius: 0.4rem;
  border: 0;
  padding-inline: 0.8rem;
  padding-block: 1.2rem;
  line-height: normal;
  background: var(--background-gray);
}

.input:focus-visible {
  outline: 2px solid var(--primaryColor);
}
