.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.titleContainer a {
  font-size: var(--smallSize);
  text-decoration: none;
  color: var(--primaryColor);
}

.categoryList {
  display: flex;
  column-gap: 1.2rem;
  padding-inline-start: 0;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--primaryColor) var(--background-white);
}

.categoryList li {
  padding-block-end: 0.8rem;
  padding-block-start: 0.2rem;
  padding-inline: 0.2rem;
}

.ship {
  display: inline-block;
  min-width: 120px;
  background: var(--primaryColor);
  padding-inline: 1.6rem;
  padding-block: 0.8rem;
  border-radius: 3.2rem;
  color: white;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.ship:focus-visible {
  outline-color: var(--accentYellow);
}
