.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.titleContainer a {
  font-size: var(--smallSize);
  text-decoration: none;
  color: var(--primaryColor);
}