.popularCarrousel {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  display: flex;
  column-gap: 2rem;
  scroll-snap-type: x proximity;
  scrollbar-width: thin;
  scrollbar-color: var(--primaryColor) var(--background-white);
}