@property --primaryColor {
  syntax: '<color>';
  inherits: false;
  initial-value: #ff6b6b;
}

@property --secondaryColor {
  syntax: '<color>';
  inherits: false;
  initial-value: #4ecdc4;
}

@property --hoverBgColor {
  syntax: '<color>';
  inherits: false;
  initial-value: #f83b3b;
}

@property --activeBgColor {
  syntax: '<color>';
  inherits: false;
  initial-value: #c11414;
}

@property --disabledBgColor {
  syntax: '<color>';
  inherits: false;
  initial-value: #ffe1e1;
}

@property --background-light {
  syntax: '<color>';
  inherits: false;
  initial-value: #f7f7f7;
}

@property --background-white {
  syntax: '<color>';
  inherits: false;
  initial-value: #ffffff;
}

@property --background-gray {
  syntax: '<color>';
  inherits: false;
  initial-value: #eee;
}

@property --text-dark {
  syntax: '<color>';
  inherits: false;
  initial-value: #2d3436;
}

@property --text-gray {
  syntax: '<color>';
  inherits: false;
  initial-value: #636e72;
}

@property --accentYellow {
  syntax: '<color>';
  inherits: false;
  initial-value: #ffd93d;
}

@property --accent-green {
  syntax: '<color>';
  inherits: false;
  initial-value: #6bcb77;
}

@property --errorText {
  syntax: '<color>';
  inherits: false;
  initial-value: #ff2b2b;
}

:root {
  --biggerSize: 3.6rem;
  --bigSize: 2.6rem;
  --baseSize: 1.6rem;
  --smallSize: 1.4rem;
  --smallerSize: 1.2rem;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

html:has(dialog[open][modal-mode="mega"]) {
  overflow: hidden;
}

body {
  font-family: 'Plus Jakarta Sans Variable', sans-serif;
  margin: 0;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.sectionContainer {
  padding-inline: 2rem;
  padding-block: 2rem;
}
