.loader {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100dvh;
  background-color: var(--background-light);
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  color: var(--primaryColor);
}

.loaderContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loaderTitle {
  font-size: var(--biggerSize);
  font-weight: 600;
}

.loaderSpinner {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: var(--primaryColor);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 