.form {
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  font-size: var(--smallSize);
}

.inputContainer:has(span) input {
  outline: 2px solid var(--errorText);
}

.errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
  padding: 2rem;
  border-radius: 0.8rem;
  border: 1px solid var(--background-gray);
  font-weight: 600;
  background: var(--errorText);
  color: white;
}
