.form {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  padding-block: 1.6rem;
}

.titleContent {
  text-align: center;
  margin-block-end: 4rem;
}

.titleContent p {
  color: var(--text-gray);
  font-size: var(--smallSize);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  margin-block-end: 2rem;
  font-size: var(--smallSize);
}
